/* style.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#loginPage {
    text-align: center;
}

#dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #00ffbf;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    flex: 0 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    border-bottom: 2px solid #007bff;
}
